

body {
    background-color: #f2f2f2;
  }


.list-group-item .fa-check{
    float: left;
    
 }
  
.list-group-item .fa-trash {
    float: right;
    color:red;
}

.list-group-item {
    margin-top: 20px;
}

.completed-time {
    color: green;
    font-size: 0.8em;
    margin-left: 10px;
  }
