.container {
   
   
    width:50%
}
.title {
    text-align: center;
    margin-bottom: 20px;
}
.list-group {
    
}
ul {
    list-style: none;
}

li{ 
   
    border:solid;
    justify-content: space-between;
    

}

p{
    font-size: 12px;
}